<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88512643316-f81vnjvnhoe9j7os6754d6is1i1dqamr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88512643316-f81vnjvnhoe9j7os6754d6is1i1dqamr</string>
	<key>API_KEY</key>
	<string>AIzaSyAUj4fNdSoyfaIXEMshj3I1pKpDJoU1jp0</string>
	<key>GCM_SENDER_ID</key>
	<string>88512643316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abs.AI.authenticationTask</string>
	<key>PROJECT_ID</key>
	<string>authentication-task-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-task-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88512643316:ios:81edc8a6b2cec3de57dea1</string>
</dict>
</plist>